form{
    background-color: #ffff;
    border-radius: 16px;
    padding: 48px;

}

html,
body{
    background: blue;
    font-family: 'Courier New', Courier, monospace;
}

button{
    color: #ffff;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(55, 13, 240);
}